{% extends 'base.html' %}

{% block content %}
<div style="width:80%; margin:auto;">
    <h1 style="text-align:center">Here is the List of Complete Task</h1>
    {% if data %}
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Tittle</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for i in data %}
          <tr>
            <td>{{i.taskTitle}}</td>
            <td>{{i.taskDescription}}</td>
            <td> {% if i.is_complete == True %}
                {{'Complete'}}
               {% endif %}
               
          </td>
          <td>
            <a href="{% url 'complete_task_delete' id=i.id %}" class="btn btn-danger btn-sm">Delete</a>
          </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h3> No Data Available </h3>
    {% endif %}
</div>
{% endblock content %}